@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* header */

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
#logo {
    float: left;
    font-size: 120%;
    text-decoration: none;
    margin-left: 30px;
}

#navigation_bar {
    font-size: 110%;
    letter-spacing: 1px;
}

#logo, #navigation_bar {
    line-height: 75px;
}

#navigation_bar li {
    float: right;
    position: relative;
    list-style-type: none;
    margin-right: 30px;
}

#navigation_bar a {
    text-decoration: none;
    color: inherit;
}

#navigation_bar a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image*/

#hero-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;

}
#hero-image {
    height: 300px;
    width: 100%;
    background: url(../images/pexels-sami-aksu-9917086.jpg) no-repeat center center;
}

/* services section */

.subtitle {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#services h3 {
    font-size: 110%;
    padding-bottom: 10px;
    text-align: left;
}

#left-about {
    width: 33%;
    height: 300px;
    float: left;
    /* background: red; */
}

#services_paint_image {
    height: 300px;
    width: 100%; 
    border-style: solid;
    padding: 0;
    border-color: #ccc;
    background: url(../images/pexels-mads-thomsen-2739010\ \(1\).jpg) no-repeat center center;
    display: inline-block;
}

#services_paint_image p {
    text-align: center;
    color: red;
    text-decoration: none;
}

#services_paint_image:hover {
    background: url(../images/pexels-mads-thomsen-2739010\ \(1\).jpg) no-repeat center center;
    border-style: solid;
    border-color: #ccc;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#right-about {
    width: 33%;
    height: 300px;
    float: right;
    background: green;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    height: 300px;
    background: blue;
}
#services h3 {
    text-align: center;
}


/* top footer styling */

#footer_top {
    background-color: #233539;
    height: 100px;
}

#footer_nav_bar {
    font-size: 110%;
    letter-spacing: 1px;
    margin-left: 50px;
}

#footer_nav_bar {
    line-height: 100px;
}

#footer_nav_bar li  {
    float: left;
    position: relative;
    list-style-type: none;
    margin-right: 30px;
}

#footer_nav_bar a {
    text-decoration: none;
    color: #fff;
}

#footer_nav_bar a:hover {
    border-bottom: 1px solid #fff;
}

#footer_logo {
    float: right;
    font-size: 105%;
    text-decoration: none;
    line-height: 100px;
    margin-right: 30px;
}

#footer_logo h1 {
    color: #fff;
}

/* footer bottom styling */

#footer_bottom {
    /* width: 100%; */
    background-color: #41555a;
    /* height: 50px; */
}

#social_media {
    text-align: center;
    height: 50px;
}

#social_media  li  {
    display: inline;
}

#social_media i {
    font-size: 125%;
    margin: 1%;
    color: #fff;
}