@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* header */

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
#logo {
    float: left;
    font-size: 120%;
    text-decoration: none;
}

#navigation_bar {
    font-size: 110%;
    letter-spacing: 1px;
}

#logo, #navigation_bar {
    line-height: 75px;
}

#navigation_bar li {
    float: right;
    position: relative;
    list-style-type: none;
    margin-right: 30px;
}

#navigation_bar a {
    text-decoration: none;
    color: inherit;
}

#navigation_bar a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;

}
#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-sami-aksu-9917086.jpg) no-repeat center center;
}

/* services section */

.subtitle {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    
}

#left-about {
    width: 33%;
    padding-top: 30px;
    height: 600px;
    float: left;
    background: url(../images/pexels-mads-thomsen-2739010\ \(1\).jpg) no-repeat center center;
}

#right-about {
    width: 33%;
    padding-top: 30px;
    height: 600px;
    float: right;
    background: url(../images/road-sign-ga0ea63e3c_1280.jpg) no-repeat center center;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    padding-top: 30px;
    height: 600px;
    background: url(../images/pexels-athena-2994331.jpg) no-repeat center center;
}
#services h3 {
    text-align: center;
}


/* footer styling */

#footer_top {
    background-color: #233539;
    height: 100px;
}

#footer_nav_bar {
    font-size: 110%;
    letter-spacing: 1px;
    margin-left: 50px;
}

#footer_nav_bar {
    line-height: 100px;
}

#footer_nav_bar li  {
    float: left;
    position: relative;
    list-style-type: none;
    margin-right: 30px;
}

#footer_nav_bar a {
    text-decoration: none;
    color: #fff;
}

#footer_logo {
    float: right;
    font-size: 105%;
    text-decoration: none;
    line-height: 100px;
    margin-right: 50px;
}

#footer_logo h1 {
    color: #fff;
}

#footer_bottom {
    width: 100%;
    background-color: #41555a;
    height: 50px;
}

#social_media {
    text-align: center;
}

#social_media > li  {
    display: inline;
}

#social_media i {
    font-size: 125%;
    margin: 1%;
    color: #fff;
}