@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1 {
    font-family: Roboto, sans-serif;
}

/* header */

#header {
    height: 75px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px outset grey;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 120%;
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
}

#logo h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #233539;
}

#navigation_bar {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

#navigation_bar a {
    text-decoration: none;
    color: inherit;
    font-size: 120%;
    font-weight: 700;
    padding: 5px 0;
    margin: 0 15px;
    transition: all .5s ease;
}

#navigation_bar li:hover {
    color: #800000;
    /* border-bottom: 1px solid #3a3a3a; */

}

#navigation_bar a.active {
    color: #800000;
    /* border-bottom: 1px #233539 solid; */
}

#language_icon {
    text-decoration: none;
    color: inherit;
    font-size: 105%;
    font-weight: 500;
    padding: 0;
    margin-right: 30px;
    margin-left: 10px;
    transition: all .5s ease;
    text-align: right;
}

#language_icon:hover {
    color: #800000;
}

.menu_button {
    cursor: pointer;
    z-index: 1001;
    display: none;
    transition: all .5s ease;
}

/* Header responsive design */

@media (max-width: 1180px) {
    #open_button {
        display: block;
        margin-right: 30px;
    }

    #open_button.active {
        background-color: #800000;
    }

    #navigation_bar {
        position: absolute;
        top: 100%;
        right: -100%; /* this part makes the drop down menu invisible */
        width: 200px;
        margin-right: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 1px;
        transition: all .5s ease;
    }

    #navigation_bar li:hover {
        background-color: #800000;
        color: white;
    }

    #navigation_bar a {
        display: block;
        text-align: right;
        margin: 0;
        padding: 12px 25px;
        transition: all .5s ease;
    }

    #navigation_bar a.active {
        background-color: #800000;
        color: white;
        margin: 0;
        padding: 12px 25px;
        /* padding: 12px 0; */
    }

    #navigation_bar.open {
        right: 0;
    }
}

/* hero image*/

#hero-outer {
    height: 525px;
    width: 100%;
    /* background-color: #233539; */
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 525px;
    width: 100%;
    background: url(../images/pexels-sami-aksu-9917086.jpg) no-repeat center center;
    animation-name: home_hero_image_zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes home_hero_image_zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* about us section */ 

#home_about_us {
    height: 600px;
    width: 100%;
    margin: 0;
    color: #233539;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#about_us_container {
    margin: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#about_us_text {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#about_us_text h3 {
    font-size: 300%;
    margin-bottom: 50px;
}

#about_us_text p {
    font-size: 120%;
    margin: 20px 20% 20px 0;
    text-align: justify;
}

#about_us_text a {
    text-decoration: none;
    color: inherit;
}

#about_us_text a:hover {
    border-bottom: 1px solid #3a3a3a;
    font-style: italic;
}

#about_us_image {
    height: 450px;
    width: 80%; 
    padding: 0;
    background: url(../images/pexels-athena-2994331.jpg) no-repeat center center;
    border-radius: 1%;
}

/* services section */

#home_services {
    height: 600px;
    width: 100%;
    margin: 0;
    background-color: #233539;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#services_container {
    margin: 5%;
    height: 450px;
    width: 100%;
}

#services_title {
    font-size: 300%;
    margin-bottom: 50px;
    margin-top: 0;
    
}

.home_services_titles {
    font-size: 110%;
    display: flex;
    align-items: center;
}

#services_layout {
    display: grid;
    grid-template-rows: 40px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'title1 title2 title3'
    'image1 image2 image3';
    grid-gap: 0 1em ;
}

.services_title_1 {
    grid-area: title1;
}

.services_title_2 {
    grid-area: title2;
}

.services_title_3 {
    grid-area: title3;
}

#services_image_1 {
    grid-area: image1;
    background: url(../images/pexels-mads-thomsen-2739010\ \(1\).jpg) no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1%;
}

#services_image_1:hover {
    background: url(../images/pexels-mads-thomsen-2739010_hover.jpg) no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

#services_image_2 {
    grid-area: image2;
    background: url(../images/pexels-athena-2994331.jpg) no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1%;
}

#services_image_2:hover {
    /* background: url(../images/pexels-mads-thomsen-2739010_hover.jpg) no-repeat center center; To add darker image*/
    animation-name: hero-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

#services_image_3 {
    grid-area: image3;
    background: url(../images/pexels-sami-aksu-9917086.jpg) no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1%;
}

#services_image_3:hover {
    /* background: url(../images/pexels-mads-thomsen-2739010_hover.jpg) no-repeat center center; to add darker image*/
    animation-name: hero-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(0.98);
    }
    to{
        transform: scale(1);
    }
}

.services_info {
    margin: 0;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.services_info:hover {
    opacity: 1;
}

#services_layout h3 {
    margin: 50px 0px 20px;
    font-size: 350%;
    text-align: center;
}

#services_layout p {
    margin: 20px 50px 50px;
    font-size: 110%;
    text-align: left;
}

#services_layout a {
    text-decoration: none;
    color: inherit;
}



/* project section */

#projects {
    height: 1000px; 
    width: 100%;
    background-color: #fff;
    color:#233539;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#home_projects_container {
    margin: 5%;
    height: 850px;
    width: 100%;
}

#projects h3 {
    font-size: 300%;
    margin-bottom: 50px;
}

.projects_titles {
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .projects_images {
    width: 300px;
} */

#projects_layout {
    margin: 0 5%;
    display: grid;
    grid-template-rows: 300px 40px 300px 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'image1 image2'
    'title1 title2'
    'image3 image4'
    'title3 title4';
    grid-gap: 1em 5em ; 
}

#projects_image1 {
    grid-area: image1;
    background: url(../images/pexels-athena-2994331.jpg) no-repeat center center;
    border-radius: 10%;
}

#projects_image2 {
    grid-area: image2;
    background: url(../images/pexels-mads-thomsen-2739010\ \(1\).jpg) no-repeat center center;
    border-radius: 10%;
}

#projects_image3 {
    grid-area: image3;
    background: url(../images/pexels-sami-aksu-9917086.jpg) no-repeat center center;
    border-radius: 10%;
}

#projects_image4 {
    grid-area: image4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.projects_title1 {
    grid-area: title1;
}

.projects_title2 {
    grid-area: title2;
}

.projects_title3 {
    grid-area: title3;
}

.projects_title4 {
    grid-area: title4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #233539;
    font-size: 120%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.projects_title4 h4{
    text-align: right;
}

#home_projects_link {
    grid-area: link;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#projects_layout a {
    text-decoration: none;
    color: inherit;
} 

#projects_layout .projects_title4 h4:hover {
    border-bottom: 1px solid #3a3a3a;
    font-style: italic;
}

#projects_info a {
    height: 145px;
    width: 100%;
    border-radius: 10%;
    border: 2px outset #fff;
    text-decoration: none;
    color: #fff;
}

#projects_info {
    height: 300px;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 145px 145px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'road signage'
    'devices all';
    grid-gap: 10px; 
} 

#projects_info h4 {
    margin: 50px 0px 50px;
    font-size: 200%;
    text-align: center;
}


#road_paint_projects {
    grid-area: road;
    background: url(../images/pexels-athena-2994331.jpg) no-repeat center center;
}

#signage_projects {
    grid-area: signage;
    background: url(../images/pexels-athena-2994331.jpg) no-repeat center center;
}

#devices_projects {
    grid-area: devices;
    background: url(../images/pexels-athena-2994331.jpg) no-repeat center center;
}

#all_projects {
    grid-area: all;
    background: url(../images/pexels-athena-2994331.jpg) no-repeat center center;
}



/*  FOOTER STYLING START*/

#footer {
    height: 75px;
    background-color: #41555a;
    border-top: 1px outset grey;
}

#footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 0 50px;
}

#footer_container ul {
    display: flex;
    flex-direction: row;
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 1px;
}

#footer_container li {
    list-style-type: none;
    margin-right: 30px;
}

#footer_container a {
    text-decoration: none;
    color: #fff;
    transition: all .5s ease;
    color: inherit;
    font-size: 105%;
    /* font-weight: 100; */
    padding: 5px 0;
    margin: 0 15px;
}

#footer_container ul a:hover {
    color: aqua; /* REMEMBER TO CHANGE THE COLOR */
}

#social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 75px;
}

#social_media a {
    font-size: 175%;
    width: 100%;
    height: 75px;
    padding: 0 25px;
}

#social_media a:hover {
    background-color: #fff;
    color: #233539;
}

#footer_logo {
    height: 75px;
    line-height: 75px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 200%;
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
}

/* Responsive design for footer */

@media (max-width: 1180px) {
    #footer_container ul {
        display: none;
    }

    #social_media a {
        margin: 0;
    }
}

@media (max-width: 740px) {
    #footer_container .logo {
        display: none;
    }

    #footer_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*  FOOTER STYLING END*/

/* ABOUT US PAGE STYLING */


/* SERVICES PAGE STYLYING */

#services_hero_image {
    height: 525px;
    width: 100%;
    background: url(../images/pexels-mads-thomsen-2739010_hover.jpg);
}

#signage_service, #devices_service, #paint_service {
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.services_container {
    margin: 75px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.services_container_inverted {
    margin: 75px;
    height: 450px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    color: #fff;
}

#services_paint_image {
    height: 450px;
    width: 40%;
    margin: 0;
    border-radius: 1%;
    background: url(../images/pexels-mads-thomsen-2739010\ \(1\).jpg) no-repeat center center;
}

.services_text {
    width: 60%;
    margin: 0;
}

.services_title {
    width: 100%;
    margin: 0 0 50px;
    font-size: 150%;
    border-bottom: #233539 solid 2px;
}

.services_title_inverted {
    width: 100%;
    margin: 0 0 50px;
    font-size: 150%;
    border-bottom: #fff solid 2px;
    text-align: right;
}

.services_content {
    display: flex;
    gap: 30px;
}

.inverted {
    display: flex;
    flex-direction: row-reverse;
}

.services_content div {
    width: 70%;
}

.services_content ul {
    width: 30%;
    list-style-type: none;
}

.services_content h3 {
    margin-bottom: 30px;
}

.services_content p {
    margin-bottom: 20px;
}

.services_quote_button div {
    height: 50px;
    width: 20%;
    background-color: #233539;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    color: #fff;
    border-radius: 40px 20px;
    border: outset gray 2px;
    /* margin: 100px;  To be define dependin on the size of the parragraphs*/
}

.button_inverted div{
    color: #233539;
    background-color: #fff;
}

.services_quote_button div:hover {
    border: inset gray 2px;
    font-style: italic;
}

.services_content li {
    margin: 20px 0;
}
/* 
#paint_service {
    background-color: yellow;
} */

#signage_service {
    background-color: #233539;
}

/* #devices_service {
    /* background-color: red; 
} */

#services_signage_image {
    height: 450px;
    width: 40%;
    margin: 0;
    border-radius: 1%;
    background: url(../images/pexels-athena-2994331.jpg) no-repeat center center;
}
#services_devices_image {
    height: 450px;
    width: 40%;
    margin: 0;
    border-radius: 1%;
    background: url(../images/pexels-sami-aksu-9917086.jpg) no-repeat center center;
}

/* PROJECTS PAGE STYLING */

#projects_hero_image {
    height: 525px;
    width: 100%;
    background: url(../images/pexels-mads-thomsen-2739010_hover.jpg);
}

#projects_display {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#projects_display h1 {
    font-size: 200%;
    height: 50px;
    line-height: 50px;
}

#projects_display_container {
    margin: 0 75px;
    width: 100%;
    height: 650px;
}

#projects_grid {
    margin: 25px 75px 0;
    /* background-color: black; */
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    grid-template-areas: 
    'project1 project2 project3'
    'project4 project5 project6';
    row-gap: 50px;
    column-gap: 2em;
}

/* #projects_layout {
    margin: 0 5%;
    display: grid;
    grid-template-rows: 300px 40px 300px 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'image1 image2'
    'title1 title2'
    'image3 image4'
    'title3 title4';
    grid-gap: 1em 5em ; 
} */

.project_container1 {
    grid-area: project1;
}

.project_container2 {
    grid-area: project2;
}

.project_container3 {
    grid-area: project3;
}

.project_container4 {
    grid-area: project4;
}

.project_container5 {
    grid-area: project5;
}

.project_container6 {
    grid-area: project6;
}

.project_container {
    height: 250px;
    width: 100%;
}

#project1_image {
    height: 200px;
    background: url(../images/pexels-athena-2994331.jpg) no-repeat center center;
    width: 100%;
    border-radius: 10% 10% 0 0;
}

#project2_image {
    height: 200px;
    background: url(../images/pexels-mads-thomsen-2739010\ \(1\).jpg) no-repeat center center;
    width: 100%;
    border-radius: 10% 10% 0 0;
}

#project3_image {
    height: 200px;
    background: url(../images/pexels-mads-thomsen-2739010_hover.jpg) no-repeat center center;
    width: 100%;
    border-radius: 10% 10% 0 0;
}

#project4_image {
    height: 200px;
    background: url(../images/pexels-sami-aksu-9917086.jpg) no-repeat center center;
    width: 100%;
    border-radius: 10% 10% 0 0;
}

#project5_image {
    height: 200px;
    background: url(../images/pexels-athena-2994331.jpg) no-repeat center center;
    width: 100%;
    border-radius: 10% 10% 0 0;
}

#project6_image {
    height: 200px;
    background: url(../images/pexels-mads-thomsen-2739010\ \(1\).jpg) no-repeat center center;
    width: 100%;
    border-radius: 10% 10% 0 0;
}

.project_grid_titles {
    background-color: #233539;
    color: #fff;
    font-size: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.project_grid_titles h2, h3 {
    line-height: 50px;
    margin: 0 20px;
    letter-spacing: 1px;
    color: #fff;
}

.project_grid_titles a {
    text-decoration: none;
    color: inherit;
}

.project_grid_titles a:hover {
    font-style: italic;
}

#projects_gallery {
    width: 100%;
    height: 600px;
    background-color: #233539;
}

/* Contact us styling */

#contact_background_image {
    height: 853px;
    width: 100%;
    background: url(../images/pexels-mads-thomsen-2739010_hover.jpg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;

}

.contact_container {
    margin: 75px 75px 0;
    height: 650px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
}

form {
    background-color: rgba(204, 204, 204, 0.5);
    /* margin-right: 500px; */
    padding: 25px; 
    width: 60%;
}

form h1 {
    margin-bottom: 50px;
}

#form_contact {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

label {
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    margin: 10px 0;
    height: 20px;
}

#quote {
    height: 150px;
    resize: none;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#form_buttons {
    height: 50px;
    display: flex;
    align-items: baseline;
}

#form_buttons label {
    width: 50%;
}

#terms_checkbox {
    height: 20px;
    width: 10%;
}

#submit {
    width: 40%;
    height: 50px;
}

.contact_container ul {
    width: 40%;
    list-style-type: none;
}

.contact_container ul h3 {
    margin: 0 0 75px;
}

.contact_container li {
    margin: 10px 0;
}